extends layout.pug


block content

	<div class="row mx-1">
		if typeof logs === "object" && logs.length > 0
			if typeof quotes === "object" && quotes.length > 0
				<h2 class="mt-1 mb-4 font-italic"> #{quotes[Math.floor(Math.random() * quotes.length)]} </h2>

			<div class="row col-lg-12 mt-2 mx-0 px-0">
				each log, index in logs
					<div class="card col-lg-12 mb-2">
						if index <= 3
							| <i class="pt-2"> <strong> #{moment(log.created_at).from()}</strong>, you wrote: </i>
						else
							| <i class="pt-2"> <strong> #{moment(log.created_at).format('Do MMM')}</strong>, you wrote: </i>
						<!-- <div class="card-body my-0 pt-2" style="white-space: pre-line" -->
						<div class="card-body my-0 pt-2">
							| #{log.text}
						</div>
					</div>
			</div>
		else
			<div class="row col-lg-12 mt-2">
				| <p> Welcome <i> #{user.first_name}</i>. &nbsp;</p> <br/>
				| <p> Its likely that the email could land up in your <i> Updates </i> Folder. You might have to whitelist our domain in your mail app. </p>

				| <p> To get started, just reply to the email we just sent you. 😃 </p>
			</div>
			if typeof quotes === "object" && quotes.length > 0
				<h2 class="mt-4 mb-4 font-italic"> #{quotes[Math.floor(Math.random() * quotes.length)]} </h2>


	</div>

	<div class="modal fade" id="subscription_modal" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body center">
					<p> Hey #{user.first_name}, thanks for being an early user 😃. </p>
					<p> Use the coupon code "EARLYUSERS" to get the subscription free for a quarter. If you feel this is not useful, I'd love to hear from you and will process a refund. </p>
					<button type="button" class="mx-2 btn btn-primary btn-md" id="quarterly">Quarterly</button>
					<button type="button" class="mx-2 btn btn-primary btn-md" id="yearly">Yearly</button>
				</div>
			</div>
		</div>
	</div>

	script.

		$(document).ready(() => {

			/* Initialize a Chargebee instance after mounting the root component. */
			let chargebeeInstance = Chargebee.init({
				site: "#{chargebee.site}"
			})

			$("#quarterly").on("click", () => {
				$('#subscription_modal').modal('hide')
				chargebeeInstance.openCheckout({
					hostedPage: function() {
						return $.ajax({
							url: '/chargebee/generate_checkout_new_url',
							data: {
								plan: "quarterly-v1"
							},
							method: 'POST'
						})
					},
					success: (hostedPageId) => {
						// console.log('quarterly', hostedPageId)
					}
				})
			})

			$("#yearly").on("click", () => {
				$('#subscription_modal').modal('hide')
				chargebeeInstance.openCheckout({
					hostedPage: function() {
						return $.ajax({
							url: '/chargebee/generate_checkout_new_url',
							data: {
								plan: "yearly-v1"
							},
							method: 'POST'
						})
					},
					success: (hostedPageId) => {
						// console.log('yearly', hostedPageId)
					}
				})
			})

			if ('#{user.subscription}' ? false : true) {
				setTimeout(() => {
					$('#subscription_modal').modal()
				}, 2 * 1000)
			}
		})